<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required permissions for XR application -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.oculus.permission.USE_SCENE" />
    
    <!-- Feature declarations for Meta Quest -->
    <uses-feature android:name="android.hardware.vr.headtracking" android:required="true" />
    <uses-feature android:name="com.oculus.feature.PASSTHROUGH" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.XRTeleoperation">

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.XRTeleoperation" />

        <activity
            android:name=".XRActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.XRTeleoperation"
            android:resizeableActivity="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden|density">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="org.khronos.openxr.intent.category.IMMERSIVE_HMD" />
            </intent-filter>
            
            <meta-data
                android:name="com.oculus.intent.category.IMMERSIVE"
                android:value="true" />
            <meta-data
                android:name="com.oculus.handtracking.version"
                android:value="1" />

        </activity>
    </application>

</manifest>